@tailwind base;
@tailwind components;
@tailwind utilities;
.input {
  @apply w-full border border-stone/50 rounded-lg px-4 py-2 
  bg-white focus:ring-2 focus:ring-royal focus:border-royal 
  transition outline-none placeholder-midnight/40;
}
